VAR_APP_LOG_LEVEL=info
VAR_HTTP_PORT=8094
VAR_HTTP_ORIGIN=https://node-dev.ru
VAR_HTTP_COOKIE_NAME=tcookie
VAR_HTTP_JWT_SECRET=369a5625-191f-4c9d-b03f-da562c39ebd0
VAR_HTTP_JWT_AUDIENCE=https://node-dev.ru
VAR_HTTP_JWT_ISSUER=boilerplate-ts-authorization
VAR_DB_HOST=localhost
VAR_DB_NAME=tbase
VAR_DB_USER=boilerplate_migration
VAR_DB_PASSWORD=change-me
VAR_DB_ADMIN_USER=root
VAR_DB_ADMIN_PASSWORD=УкажитеЗначение
VAR_DB_SERVICE_HOST=localhost
VAR_DB_SERVICE_GRANTS=SELECT,INSERT,UPDATE,DELETE,CREATE,ALTER,DROP,INDEX,REFERENCES
VAR_DB_RUNTIME_GRANTS=[{"userName":"boilerplate_authorization_gateway","password":"change-me","host":"localhost","grants":[{"table":"users","operations":["SELECT"]},{"table":"roles","operations":["SELECT"]},{"table":"user_roles","operations":["SELECT"]}]}]
