VAR_APP_LOG_LEVEL=info
VAR_HTTP_PORT=8094
VAR_HTTP_ORIGIN=http://test.gtrktuva.local
VAR_HTTP_COOKIE_NAME=authorization
VAR_HTTP_PUBLIC_USER_COOKIE_NAME=authorization_user
VAR_HTTP_PUBLIC_USER_COOKIE_DOMAIN=none
VAR_HTTP_JWT_SECRET=change-me
VAR_HTTP_JWT_AUDIENCE=boilerplate-ts-localhost
VAR_HTTP_JWT_ISSUER=boilerplate-ts-localhost
VAR_INTERNAL_SERVICE_TOKEN=change-me-internal-service-token
VAR_DB_HOST=localhost
VAR_DB_NAME=boilerplate
VAR_DB_USER=migration_service
VAR_DB_PASSWORD=migration_service
VAR_DB_ADMIN_USER=root
VAR_DB_ADMIN_PASSWORD=УкажитеЗначение
VAR_DB_SERVICE_HOST=localhost
VAR_DB_SERVICE_GRANTS=SELECT,INSERT,UPDATE,DELETE,CREATE,ALTER,DROP,INDEX,REFERENCES
VAR_DB_RUNTIME_GRANTS=УкажитеЗначение
