VAR_APP_LOG_LEVEL=info
VAR_HTTP_PORT=4203
VAR_HTTP_ORIGIN=http://localhost:8080
VAR_HTTP_COOKIE_NAME=authorization
VAR_HTTP_JWT_SECRET=change-me
VAR_HTTP_JWT_AUDIENCE=
VAR_HTTP_JWT_ISSUER=
VAR_DB_HOST=localhost
VAR_DB_NAME=boilerplate_gateway_chat_realtime
VAR_DB_USER=boilerplate
VAR_DB_PASSWORD=change-me
VAR_CHAT_SERVICE_URL=http://localhost:4103
