VAR_APP_LOG_LEVEL=info
VAR_HTTP_PORT=4103
VAR_HTTP_ORIGIN=http://localhost:8080
VAR_HTTP_COOKIE_NAME=authorization
VAR_HTTP_PUBLIC_USER_COOKIE_NAME=authorization_user
VAR_HTTP_PUBLIC_USER_COOKIE_DOMAIN=.localhost
VAR_HTTP_JWT_SECRET=РЈРєР°Р¶РёС‚РµР—РЅР°С‡РµРЅРёРµ
VAR_HTTP_JWT_AUDIENCE=boilerplate-ts-localhost
VAR_HTTP_JWT_ISSUER=boilerplate-ts-localhost
VAR_PACKAGE_UID=00000000-0000-4000-8000-000000000403
VAR_LOG_COLLECTOR_SOCKET_HOST=localhost
VAR_LOG_COLLECTOR_SOCKET_PORT=4304
VAR_DB_DIALECT=mysql
VAR_DB_HOST=localhost
VAR_DB_PORT=3306
VAR_DB_NAME=boilerplate
VAR_DB_USER=chat_svc
VAR_DB_PASSWORD=chat_password
