NODE_ENV=development
VAR_PACKAGE_UID=00000000-0000-4000-8000-000000000401
VAR_HTTP_PORT=4104
VAR_HTTP_ORIGIN=http://localhost:8080
VAR_HTTP_COOKIE_NAME=boilerplate_authorization
VAR_HTTP_PUBLIC_USER_COOKIE_NAME=boilerplate_public_user
VAR_HTTP_PUBLIC_USER_COOKIE_DOMAIN=.localhost
VAR_HTTP_JWT_SECRET=УкажитеЗначение
VAR_HTTP_JWT_AUDIENCE=boilerplate
VAR_HTTP_JWT_ISSUER=boilerplate
VAR_DB_DIALECT=mysql
VAR_DB_HOST=localhost
VAR_DB_PORT=3306
VAR_DB_NAME=boilerplate_development
VAR_DB_USER=log_collector_svc
VAR_DB_PASSWORD=log_collector_password
VAR_LOG_COLLECTOR_SOCKET_PORT=4304
VAR_CHAT_REALTIME_GATEWAY_URL=http://localhost:4203
